@model Test1.Models.Rack

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Rack</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RackId" />

            <div class="row" style="padding:10px">
                <div class="col-md-6">
                    <label asp-for="Code" class="control-label"></label>
                </div>
                <div class="col-md-6">
                    <input asp-for="Code" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
            </div>


         
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" /> |  
                <a class="btn btn-primary" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

<div>
  
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
